{% extends 'base.html.twig' %}

{% block title %}View{% endblock %}

{% block body %}
    <h1>View</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ view.id }}</td>
            </tr>
            <tr>
                <th>Agent</th>
                <td>{{ view.agent }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ view.created_at ? view.created_at|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}